<h2 class="form-signin-heading" id="tittle"><img src="images/logouru.png" alt="" id="logo" class="img-responsive" alt="Responsive image"></h2>
<br>
<div id="mydiv" style="display:none" align="center">
    <img src="images/urumovil.gif"/>
</div>
 <div class="alert alert-danger" id='alertDanger' style="display:none">Error en Conexion intentelo mas tarde</div>
<div class="form-group">
    		<input type="text" class="form-control" placeholder="Buscar" ng-model='search' autofocus>
</div>

<table class="table table-responsive">
	<tr>
		<td>Periodo</td>
		<td>Codigo</td>
		<td>Materia</td>
		<td>Nota</td>
	</tr>
	<tr ng-repeat="course in courses track by $index | filter:search ">
	<td><span class="label label-default">{{course.semester}}</span></td>
	<td><span class="label label-info">{{course.code}}</span></td>
	<td><span class="label label-primary">{{course.name}}</span></td>
	<td><span class="{{qualificationClass(course.qualification)}}">{{course.qualification}}</span></td>
	</tr>	
</table>

<ul class="pager">
  <li class="previous"><a href="#/student">&larr; Volver</a></li>
</ul>



